@import "tailwindcss";
@plugin "daisyui";
@utility container {
   max-width: 1660px;
  background-color: #f4f4f4;
  margin-left: auto;
  margin-right: auto;
  padding: 0 rem;
  text-align: center; 
  flex-direction: column
  
 
}
img {
  display: block;     
  margin: 0 auto;    
  margin-bottom: 20px; 
  margin-top: 150px;

}

.centered-list {
 display: flex;      
 width: 400;        
  justify-content: center;    
  gap: 70px;                  
  list-style: none;           
  padding: 0;
  margin: 0;
  margin-bottom: 20px; 

}

.centered-list li {
  text-transform: uppercase;  
  font-size: 18px;         
  font-weight: bold;          
  padding: 10px 15px;
  background-color: #e6f0ff; 
  border-radius: 5px;
  transition: 0.3s;
  
}
.centered-list span{
  margin-left: 25px;
 

}


.centered-list li:hover {
  background-color: #cce0ff;  
}
.btn{
  margin-left: 120px;
  margin-bottom: 20px;
  margin-top: 20px;

}
.wight{
  width: 200px;
  margin-bottom: 20px;
}

  